// color variables

$color-base:        #FFFFFF;
$color-light:       #F2F2F2;
$color-soft:        #AAAAAA;
$color-text:        #555555;
$color-headlines:   #333333;

$color-primary:     #79fffe;
$color-secondary:   #fea0fe;

$color-error:       brickred;
$color-success:     mediumseagreen;
$color-info:        dodgerblue;
$color-warning:     gold;

$color-bg:          #03010f;
