doctype html
html(lang=de)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Match3

  body.match3
    canvas#view

    h1.logo Match3

    .info
      p.info-text Drag to rotate.

    .controls.-hidden
      .controls-x.controls-wrap
        button.controls-button(data-axis='z' data-target='1')
        button.controls-button(data-axis='z' data-target='2')
        button.controls-button(data-axis='z' data-target='3')
      .controls-y.controls-wrap
        button.controls-button(data-axis='y' data-target='3')
        button.controls-button(data-axis='y' data-target='2')
        button.controls-button(data-axis='y' data-target='1')
      .controls-y.-inverse.controls-wrap
        button.controls-button.-inverse(data-axis='y' data-target='3')
        button.controls-button.-inverse(data-axis='y' data-target='2')
        button.controls-button.-inverse(data-axis='y' data-target='1')
      .controls-z.controls-wrap
        button.controls-button(data-axis='x' data-target='3')
        button.controls-button(data-axis='x' data-target='2')
        button.controls-button(data-axis='x' data-target='1')

