$cube-size: 62.5vh;
$button-size: 5vh;
$total-x: 520;
$total-y: 564;
$offset-bottom: 190;
$offset-top: 138;
$offset-x: 40;

.controls {
  left: 50%;
  height: $cube-size;
  pointer-events: none;
  position: absolute;
  top: (100vh - $cube-size) / 2 + 1.5;
  transform: translateX(-50%);
  transition: opacity 0.4s ease;
  width: $cube-size * 0.925;
  z-index: 11;

  &.-hidden {
    opacity: 0;
  }

  &-wrap {
    position: absolute;
  }

  &-x, &-z {
    align-items: center;
    bottom: 0;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-items: center;
    top: percentage(($total-y - $offset-bottom) / $total-y);
  }

  &-x {
    left: percentage($offset-x / $total-x);
    margin: 25px 30px 0 0;
    right: 50%;
  }

  &-y {
    display: flex;
    bottom: percentage($offset-bottom / $total-y);
    flex-direction: column;
    justify-content: space-around;
    margin-right: -25px;
    right: 0;
    transform: rotate(12.1deg);
    top: percentage($offset-top / $total-y);

    &.-inverse {
      left: 0;
      margin-left: -25px;
      margin-right: 0;
      right: auto;
      transform: rotate(-12.1deg) scaleX(-1);
    }
  }

  &-z {
    left: 50%;
    justify-content: flex-end;
    margin: 25px 0 0 30px;
    right: percentage($offset-x / $total-x);
  }

  &-button {
    -webkit-appearance: none;
    background: transparent center/contain no-repeat;
    border: 0;
    cursor: pointer;
    height: $button-size;
    margin: 0;
    outline: 0;
    padding: 0;
    pointer-events: all;
    transition: transform 0.3s ease;
    width: $button-size;

    &:hover, &:focus {
      transform: scale(1.1);
    }

    &, &:active {
      transform: scale(1);
    }

    @each $axis in x y z {
      .controls-#{$axis} & {
        background-image: url('/img/arrow-'+$axis+'.svg');
      }
    }

    .controls-x & {
      &:nth-child(1) { grid-area: 1 / 1; }
      &:nth-child(2) { grid-area: 2 / 2; }
      &:nth-child(3) { grid-area: 3 / 3; }
    }

    .controls-z & {
      &:nth-child(1) { grid-area: 3 / 1; }
      &:nth-child(2) { grid-area: 2 / 2; }
      &:nth-child(3) { grid-area: 1 / 3; }
    }
  }
}
