///
///
/// Fonts import file
///
///

@font-face {
  font-family: 'BN CUWord';
  src: url('./assets/fonts/bncuworb-webfont.woff2') format('woff2'),
        url('./assets/fonts/bncuworb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
